body{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    background-color: rgb(30, 198, 210);
    
}
h1{
    padding: 45px;
    text-transform: capitalize;
}

li{
    list-style: none;
    display:inline;
}

a{
    text-decoration: none;
    color: black;
    background-color: rgb(98, 80, 255);
    
}

#backtoMenu{
    padding-top: 20px;
}

